@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<!--Home Page-->
<head>
    <style>
        body {
            background-image: url('/background.gif');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        input.form-control:focus {
            border-color: orangered;
            box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.25);
        }
    </style>
</head>
<body>
<div>
    <div>
    <h1>Arch Project Manager</h1>
    <hr />
</div>

<div>
    <h3>Projects</h3>
    <p>Create new projects, view other creator's projects, and bid on projects that interest you.</p>
    <p>View the Project Menu below to see more!</p>
    <div>
        <a class="btn btn-primary" asp-controller="Projects" asp-action="ProjectMenu">Project Menu</a>
    </div>
    <hr />
</div>

    <div>
        <h3>Bids</h3>
        <p>View your outgoing bids</p>
        <div>
            <a class="btn btn-primary" asp-controller="ProjectBids" asp-action="List">Bid Menu</a>
        </div>
        <hr />
    </div>
</body>
