<div>
    <h1>Project Bids Menu</h1>
    <hr />
</div>
<div>
    <a class="btn btn-success" asp-controller="Projects" asp-action="ViewProjects">Create a Bid</a>
    <a class="btn btn-primary" asp-controller="ProjectBids" asp-action="ViewBids">Bid Catalog</a>
    <a class="btn btn-primary" asp-controller="ProjectBids" asp-action="MyBids">View My Bids</a>
</div>
