<div>
    <h1>Projects Menu</h1>
    <hr />
</div>
<div>
    <a class="btn btn-success" asp-controller="Projects" asp-action="Add">Create</a>
    <a class="btn btn-primary" asp-controller="Projects" asp-action="ViewProjects">Project Catalog</a>
    <a class="btn btn-primary" asp-controller="Projects" asp-action="MyProjects">My Projects</a>
</div>
